<div class="container mt-3 mb-5">
    <div class="row row-flex mt-3">
      <div class="col-lg-6 p-5 border border-primary rounded bg-light mt-3">
        <form class=" p-3 mb-3 mr-3 ml-3 pr-3 pl-3"
        [formGroup]="autorForm"
        (ngSubmit)="onSubmit()">
              <legend>Agregar Autor</legend>
              <div class="mb-3">
                <label for="Nombre" class="form-label" >Nombre</label>
                <input type="text" id="nombre" class="form-control" placeholder="Nombre"  formControlName="nombre">
              </div>
              <div class="mb-3">
                <label for="fecha" class="form-label">Fecha Nacimiento</label>
                <input type="text" id="fecha" class="form-control" placeholder="00/00/0000"  formControlName="fecha">
              </div>
              <div class="mb-3">
                <label for="ciudad" class="form-label">Ciudad</label>
                <input type="text" id="Paginas" class="form-control" placeholder="ciudad"  formControlName="ciudad">
              </div>
              <div class="mb-3">
                <label for="correo" class="form-label">Correo</label>
                <input type="email" id="Paginas" class="form-control" placeholder="correo"  formControlName="correo">
              </div>             
              <button type="submit" [disabled]="!autorForm.valid" class="btn btn-primary ml-3">Agregar</button>
        </form>
      </div>     
      
    </div>
  </div>
  
